﻿@using Microsoft.EntityFrameworkCore.Storage
@model CLVD_POE.Models.ProductTable
@{ ViewData["Title"] = "My Work"; 
}

<style>
    body {
        background-image: url("https://wallpapers.com/images/hd/light-wood-background-rqh4w7rfft0bksz3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div style="height: 50px"></div>

    <div class="text-center">
            <h2 class="text-black">What we do</h2>
            <p>During the course of KhumaloCrafts existence, WE have always set a high standard of producing quality products to your satisfaction. No task is too great for our expert craftsmen, handcrafting quality materials to produce the exact product you require. Whether it be indoor or outdoor furnature, we do it all!</p>
     </div>

<div style="height: 100px"></div>

     <div class="container">
         <div class="row">
             <div class="col-md-6">
                 <h3>Indoor Furniture</h3>
                 <p>Our wide range of indoor products are fully customizable to your satisfaction:</p>
                 <p>Tables</p>
                 <p>Chairs</p>
                 <p>Desks</p>
                 <p>Bookshelves</p>
             </div>
              <div class="col-md-6">
                <img src="https://i.pinimg.com/474x/5f/c7/6d/5fc76df6bda7762fe219ed48a724e69d.jpg" alt="Indoor furnature" height="300" width="500" />
              </div>
             
         </div>
     </div>

<div style="height: 120px"></div>

                 <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h3>Outdoor Furniture</h3>
                           <p>Our wide range of outdoor products are fully customizable to your satisfaction:</p>
                           <p>Tables</p>
                           <p>Chairs</p>
                           <p>Benches</p>
                           <p>Planters</p>
                         </div>
                           <div class="col-md-6">
                            <img src="https://cdn.shopify.com/s/files/1/0537/6298/2083/files/Antigua_Teak_6_Piece_Outdoor_Dining_Set_2_600x600.jpg?v=1615423165" alt="Outdoor furnature" height="300" width="500" />
                           </div>
                      </div>
                 </div>

<div style="height: 120px"></div>

                <div class="text-center">
                    <h3 class="text-black">Our Materials</h3>
                    <p>Our products are made with a variety of the best quality materials. There are many options to choose from:</p>
                    <p>Indoor Materials: Oak, Walnut, Pine.</p>
                    <p>Outdoor Materials: Teak, Cedar, Bamboo.</p>
                    <p>If there are any other types of materials you wish your fine piece of furnature to be made from, please do let us know.</p>
                </div>

<div style="height: 100px"></div>

                <div class="text-center">
                    <h3 class="text-black">Pricing</h3>
                    <p>Our prices are affordible, we have the right product for everyones budget. Each products material will determine their price. Please contact us with the required piece of furnature along with its material for a qoute.</p>
                </div>

<div style="height: 120px"></div>

                 <div class="text-center">
                     <h3 class="text-black">Our Previous Work</h3>
                 </div>

<div style="height: 30px"></div>

                 <div class="container">
                     <div class="row">
                         <div class="col-md-6">
                             <p>Previously we had made one of our customers a Oak dining table which has impressed their guests.</p>
                         </div>
                         <div class="col-md-6">
                             <p>Previously we have made one of our customers a Bamboo outdoor seating area.</p>
                         </div>
                     </div>
                 </div>
                 
                     <div class="container">
                         <div class="row">
                             <div class="col-md-6">
                                <img src="https://www.trlfurniture.com/cdn/shop/products/sophisticated-oak-dining-table-207781.jpg?v=1700131069" alt="oak table" width="500" height="300" />
                             </div>
                         
                             <div class="col-md-6">
                                <img src="https://www.modishliving.co.uk/cdn/shop/articles/Hampstead_Bamboo_Garden_Sofa_Set_0788c4c3-d374-4a5e-b5ff-84baa332dd38.jpg?v=1686741716" alt="bamboo seating" width="500" height="300" />
                             </div>
                         
                         </div>
                     </div>

<div style="height: 120px"></div>

<div class="text-center">
    <h3 class="text-black">Place an Order</h3>"
</div>

<div class="text-center">
    <form action="MyWork" method="post">
        <label for="Name">Select a product</label>
        <select name="Name" id="Name">
            <option value="Table">Table</option>
            <option value="Chair">Chair</option>
            <option value="Desk">Desk</option>
            <option value="Bookshelf">Bookshelf</option>
            <option value="Bench">Bench</option>
            <option value="Planter">Planter</option>
        </select>
        <label for="Category">Select a material</label>
        <select name="Category" id="Category">
            <option value="Oak">Oak</option>
            <option value="Walnut">Walnut</option>
            <option value="Pine">Pine</option>
            <option value="Teak">Teak</option>
            <option value="Cedar">Cedar</option>
            <option value="Bamboo">Bamboo</option>
        </select>
        <label for="Price">Price</label>
        <select name="Price" id="Price">
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="300">300</option>
            <option value="350">350</option>
            <option value="400">400</option>
            <option value="450">450</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
        </select>
        <label for="Availability">Availability</label>
        <select name="Availability" id="Availability">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="0">0</option>
        </select>
            <button type="submit">Submit</button>
    </form>
</div>


