
@{
    ViewData["Title"] = "About Us";
}

<h1>About</h1>
<p>This is the about page..</p>

<img src="https://www.jackspaint.co.za/images/blog/Woodwork.jpg" alt="Woodwork" width="500" height="300" />




