@{
    ViewData["Title"] = "Contact Us";
}


<style>
    body {
        background-image: url("https://wallpapers.com/images/hd/light-wood-background-rqh4w7rfft0bksz3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
   </style>

   <div class="text-center">
       <h1 class="text-black">Get in touch with us</h1>
   </div>

   <div style="height: 100px;"></div>

   <div class="container">
         <div class="row">
              <div class="col-md-6">
                <h2>Where to find us</h2>
                <p>25 Oregno Lane</p>
                <p>Table View</p>
                <p>7332</p>
                <p>Cape Town</p>
                <p>South Africa</p>
              </div>
              <div class="col-md-6">
                <h2>Contact Us</h2>
                <p>Email: craftkhumalo@gmail.com</p>
                <p>Phone number: (+27) 81 563 1203</p>
              </div>
                <div class="col-md-6">
                    <h2>Operating hours</h2>
                    <p>Monday - Friday: 8am - 5pm</p>
                    <p>Saturday: 8am - 1pm</p>
                    <p>Sunday: Closed</p>
                </div>
          </div>
    </div>
